<header class="lv-pad-left-15 lv-bkg-teal-dark">
    <a href="/" class="h3 lv-mar-all-0 lv-text-white lv-text-serif-bold">amydepalma.com</a>
    <nav>
        {% for item in site.data.settings.nav %}
            {% assign class = nil %}
            {% if page.url contains item.url %}
                {% assign class = 'current' %}
            {% endif %}
            <a href="{{ item.url }}" target="{{ item.target }}" class="lv-text-white {{ class }}">
                <span class="{{ item.icon }}"></span> {{ item.name }}
            </a>
        {% endfor %}
    </nav>
</header>
