<head prefix="og: http://ogp.me/ns#">
    {% include analytics.html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#031424" />
    {% include favicons.html %}

    {% assign item = site.data.portfolio.[page.item] %}

    <title>{% if item.title %}{{ item.title }} - {{ item.subtitle }}  | UI developer (and sometimes-designer) in Pittsburgh, PA {% elsif page.title %}{{ page.title }} | UI developer (and sometimes-designer) in Pittsburgh, PA{% else %}{{ site.data.settings.seo.title }}{% endif %}</title>
    <meta name="description" content="{% if item.description %}{{ item.description }}{% elsif page.description %}{{ page.description }}{% else %}{{site.data.settings.seo.description }}{% endif %}">
    <meta name="keywords" content="{% if item.keywords %}{{ item.keywords }}{% elsif page.keywords %}{{ page.keywords }}{% else %}{{site.data.settings.seo.keywords }}{% endif %}">
    {% include social-media-tags.html %}

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto+Slab:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/site.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2384852129.js"></script>

    <script type="application/ld+json">
        {  
            "@context" : "http://schema.org",
            "@type" : "WebSite",
            "name" : "{% if item.title %}{{ item.title }} - {{ item.subtitle }} | UI developer (and sometimes-designer) in Pittsburgh, PA {% elsif page.title %}{{ page.title }} | UI developer (and sometimes-designer) in Pittsburgh, PA {% else %}{{ site.data.settings.seo.title }}{% endif %}",
            "url" : "{{ page.url }}",
            "description" : "{% if item.description %}{{ item.description }}{% elsif page.description %}{{ page.description }}{% else %}{{site.data.settings.seo.description }}{% endif %}"
        }
    </script>
</head>
