<div aria-label="Navigation Triggers">
    <button class="top-trigger circle-wrap" aria-hidden="true">
        <span class="fas fa-arrow-up" aria-hidden="true"></span>
        <span class="lv-sr-only">Back to top</span>
    </button>
    
    <button class="nav-trigger circle-wrap">
        <div class="icon-menu">
            <div class="icon-menu-line-1"></div>
            <div class="icon-menu-line-2"></div>
            <div class="icon-menu-line-3"></div>
        </div>
        <span class="lv-sr-only">Expand Menu</span>
    </button>    
</div>

<nav>
    <ul class="nav-primary" role="navigation">
        <li class="nav-home">
            <a href="/" class="circle-wrap">
                <span class="fas fa-home" aria-hidden="true"></span><span class="lv-sr-only">Home link</span>
            </a>
        </li>
        <li>
            <a href="/portfolio">Portfolio</a>
            <ul class="nav-secondary">
                {% assign sorted_links = site.portfolio | sort: "sort-year" | reverse %}
                {% for item in sorted_links %}
                    <li>
                        <a href="{{ item.url }}">
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <ul class="nav-utility">
        {% for item in site.data.settings.nav %}
            {% assign class = nil %}
            {% if page.url contains item.url %}
                {% assign class = 'current' %}
            {% endif %}
            <li>
                <a href="{{ item.url }}" target="{{ item.target }}" class="{{ class }}">
                    <span class="{{ item.icon }}" aria-hidden="true"></span> {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>