@import "../base/vars-mixins";

.portfolio {

    &-grid { 

        @media @large-up {
            .flex-display;
            .flex-wrap(wrap);
            .justify-content(center);
            .align-items(flex-start);
            .align-content(center);
        }

        @supports (display: grid) {
           
            @media @large-up {
                .align-items(start);
                .grid-display;
                .grid-col-gap(0);
                .grid-row-gap(0);
                .grid-cols(repeat(auto-fill, 50%));
                
            }
        }

        &.is-three-up {
            @supports (display: grid) {
                @media @xl-only {
                    .grid-cols(repeat(auto-fill, 33%));
                }
            }
        }
    }

    &-item {
        display: block;
        margin-bottom: 20px;
        margin: 15px;

        @media @large-up {
            .flex(0 1 45%);
            .align-self(stretch);
            margin: 25px;
        }

        @supports (display: grid) {

            @media @large-up {
                .flex(none);
            }
        }
    }
}


.portfolio-grid.is-three-up .portfolio-item {
    @media @xl-only {
        .flex(0 1 28%);
    }

    @supports (display: grid) {
        @media @xl-only {
            .flex(none);
        }
     }
}