<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="{{ page.body-class }}">

  <main>
    <section class="left">
        <h1 class="lv-mar-bottom-30">
            {{ page.title }}
            {% if page.subtitle %}
            <small>{{ page.subtitle }}</small>
            {% endif %}
        </h1>

        <a href="/" class="btn btn-icon btn-icon-left lv-mar-top-20">
            <span>Back to Home</span><i class="fas fa-angle-left"></i>
        </a>

        <a href="/" class="site-name">amydepalma.com</a>
    </section>

    <section class="right lv-bkg-pattern">
        <div class="container">
            {{ content }}
        </div>
    </section>
  </main>

  {% include navigation.html %}
  <script src="{{site.url}}/assets/js/main-dist.js"></script>
</body>
</html>
